/*global*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
 
body{
    font-family: 'Roboto', sans-serif;
}
*{margin:0;}
h1,h2,h3{

    text-align:center;
}

h1{font-size:56px;
    width:40%40;
    margin-left:auto;
    margin-right:auto;


}

p{font: size 16px;
line-height:2;
margin-top:20px;
margin-bottom:20px;

}





/*utilities*/
.container{
    width:70%;
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
}
/*header*/



header{

background-color: yellow;
height:20vh;
text-align: center;

}



.index-header i{
    font-size:40px;
    margin-right:20px;
    margin-top:15px;


}
                                                                 

.menu a{
    text-decoration:none;
    font-size:18px;
    font-weight:300;
    color:black;
    margin-right:20px;
}
.menu a:hover{
    font-weight:700;
}
.my-picture{
    display:block;
    width:150                       px;
    height:200px;
    margin-left:auto;
    margin-right:auto;
    border-radius:50%;
    border: 5px solid black;
padding:1px;
}